/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-left: 0px !important;;
	padding-right: 0px !important;;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
 {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
.img-responsive {
max-height: 600px;
}
/*BASE*/
html {
overflow-x: hidden;
}
body {
overflow-x: hidden;
font-family: 'Roboto', sans-serif;
}
p {
line-height: 1.6;
}
/*NAVIGATION*/
.navbar-default {
border: none;
width: 100%;
z-index: 999;
border-radius: 0px;
background-color: white;
border-bottom: 1px solid #e7e7e8;
}
.navbar {
	margin-bottom: 0px !important;
}
.navbar-brand {
padding: 7px 20px;
}
.navbar-collapse {
float: right;
}
/*Text Styles*/
body h1 {
	color: #89898c;
	font-family: Georgia, Times, 'Times New Roman', serif;
}
body h4 {
	font-size: 24px;
	padding-top:40px;
	color: #89898c;
}
p {
	font-size: 16px;
	padding-bottom: 30px;
}
/*Hero*/
.hero{
	text-align: center;
	padding-bottom: 180px;
	background-color: #e1e5e8;
	padding: 40px;
	height: 600px;
}
.hero h1 {
	padding-top: 80px;
}
.hero h1, .hero h4 {
	color: white;
}
.hero h4 {
	font-weight: 300;
	padding-bottom: 30px;
	line-height: 1.4;
}
.learnMore a{
	text-align: center;
	border-radius: 20px;
	font-size: 16px;
	padding: 10px 20px 10px 20px;
	background-color: #3ab2de;
	color: white;
	border:none;
}
.learnMore a:hover {
	background-color: #4eb9e1;
	text-decoration: none;
	color: white;
}

/*SLIDER*/
.slider h1{
	padding-top: 0px;
}
.slider h4 {
	padding-bottom: 20px;
}
.sliderText {
	margin: 40px;
	color: #b1b1b3;
}
.sliderImg img {
	background-size:100%;
	display: block;
    width: 100%;
    max-width: 1200px; /* corresponds to max height of 450px */
    margin: 0 auto;
}

.carousel-control {
	float: left;
    width: 100%;
    height: 80px;
    font-weight: 100;
    line-height: 30px;
    text-align: left;
    color: #ffffff;
    background-image:none;
    padding-bottom: 40px;
}
.carousel-control.left, .carousel-control.right {
	float: left;
	font-family: 'Roboto', sans-serif;
	bottom: 0;
	position: relative;
	width: 100%;
	opacity: 1;
	text-shadow:none;
	background-image:none !important;
   	filter:none !important;
}

.carousel-control.left{
   margin-right: 10px;
}
/**/
.fullSlider {
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	float: left;
	height: 80px;
	width: 100%;
}
.fullSlider:hover {
	color: white;
}
#sliderBtn {
	float: left;
	height: 80px;
	width: 50%;
	color: #b1b1b3;
}
#sliderBtn a {
	color: #89898c;
}
#sliderBtn p {
	text-align: left;
}
#sliderBtn p:hover {
	color: #3ab2de;
}

.carousel-control.left p {
	float: left;
	padding: 25px 0px 25px 40px;
}

.carousel-control.right p {
	float: right;
	padding: 25px 40px 25px 0px;
}


/*about*/
.about {
	float: left;
}
.aboutProfile img{
	background-size:100%;
	display: block;
    width: 100%;
    max-width: 1200px; /* corresponds to max height of 450px */
    margin: 0 auto;
}
.aboutText {
	padding: 40px;
	height: 560px;
	color: #b1b1b3;
}
/*contact*/
.contactText {
	padding: 40px;
	height: 150px;
	color: #b1b1b3;
}
.contactText button {
	text-align: center;
	border-radius: 20px;
	font-size: 16px;
	font-weight: 300;
	padding: 10px 20px 10px 20px;
	background-color: #3ab2de;
	color: white;
	border:none;
	margin-top: 20px;
}
.contact {
	float: left;
	background-color: red;
	height: 600px;
	width: 100%;
}
/*FORM*/
.form-wrapper {
background-color: white;
border-radius: 4px;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
margin-top: 120px;
height: 320px;
margin-left: 40px;
margin-right: 40px;
}
.form-bottom {
padding: 20px;
}
.btn-default {
border-color: #3ab2de;
}
.form-wrapper .btn {
	text-align: center;
	border-radius: 20px;
	font-size: 16px;
	padding: 10px 20px 10px 20px;
	background-color: #3ab2de;
	color: white;
	border:none;
	width: 100%;
}


/* MQ */
@media only screen and (max-width: 1000px) {
	.sliderText {
		margin: 0px;
		padding: 40px;
		height: 400px;
		color: #b1b1b3;
	}
	.sliderImg {
		display: none;
	}
	.aboutProfile img{
	display: none;
	}
	.contact {
		height: 640px;
	}
}

@media only screen and (max-width: 768px) {
	.sliderText {
		padding: 40px;
		height: 400px;
		color: #b1b1b3;
	}
}
@media only screen and (max-width: 640px) {
	.sliderText {
		padding: 40px;
		height: 600px;
		color: #b1b1b3;
	}
	.aboutProfile img{
	display: block;
	}
}